# Directories
/node_modules/

/data/guildSettings
/data/guildsettings
/data/guildEvents
/data/guildevents
/data/guildchars
/data/guildChars

# Specific Files
config.json
settings.json
package-lock.json

# Commands
