# Directories
/data/img/
/data/swgoh-json-files/
/node_modules/
/scripts
/swgoh
/swgohAPI
/testBk
/testOutput
/wipCommands/

# Specific Files
config.js
config.json
settings.json
TODO.md

# Commands
/slash/test.js
